<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.zerock.dao.MsgMapper">

	<insert id="insertMsg" parameterType="MsgVO">
		insert into TBL_TEAM_MSG
		(mno, sender, whom, msg)
		values (seq_team_msg.nextval, #{sender},
		#{whom}, #{msg})
	</insert>
	<insert id="insertFile" parameterType="MsgFileVO">
		insert into
		tbl_team_msg_file(fno, mno, savename, originname)
		values (seq_team_file.nextval, seq_team_msg.currval,
		#{savename},#{originname})
	</insert>
<!-- 
	<select id="receiveList_old" resultType="MsgVO">
		select * from tbl_team_msg
		where whom = #{username} order by mno desc
	</select>
 -->
	<!-- 순서대로 파싱하기 떄문에 MsgMap을 여기다가 만들어준다. -->
	<resultMap type="MsgVO" id="MsgMap">
		<!-- id는 group by같은놈 키 값 -->
		<id column="mno" property="mno" />
		<result column="sender" property="sender" />
		<result column="whom" property="whom" />
		<result column="msg" property="msg" />
		<result column="gubun" property="gubun"/>
		<result column="regdate" property="regdate" />
		
		<collection property="files" resultMap="FileMap">
			<id column="mno" property="mno" />
		</collection>
	</resultMap>

	<resultMap type="MsgFileVO" id="FileMap">
		<id property="fno" column="fno" />
		<result column="savename" property="savename" />
		<result column="originname" property="originname" />
	</resultMap>

	<select id="read" resultMap="MsgMap">
		select * from TBL_TEAM_MSG msg, TBL_TEAM_MSG_FILE mfile
		where msg.mno = mfile.mno(+) and msg.mno = #{mno}
	</select>

	<update id="updateRead" parameterType="int">
		update tbl_team_msg set gubun='Y' where mno = #{mno}
	</update>
	
	<select id="msgCountTotal"  resultType="int">
		select count(MNO) from TBL_TEAM_MSG where whom = #{userName}
	</select>
	
	  <select id="receiveList" parameterType="PageVO" resultType="MsgVO" >
	  <![CDATA[
		select
		    mno, sender, whom, msg, gubun, regdate
		from (
		    select /*+INDEX_DESC(TBL_TEAM_MSG PK_TEAM_MSG)*/
		           rownum rn, mno, sender, whom, msg, gubun, regdate
		    from TBL_TEAM_MSG
		    where (mno >0 and whom = #{userName})and rownum <=( #{page}* 10)
		    )
		where
		    rn> (#{page}-1) * 10
	  ]]>
  </select>
</mapper>